/*Lunatic Midnight color scheme*/

:root{
    --main-bg-color: #020508;
    --white-color: #fff;
    --dropdown-bg-color: rgba(3, 5,9, 0.5);
    --transparent-color : rgba(1, 1, 1, 0)
    --allert-color: tomato;
    --text-color: #fff;
    --color-hover: #14efff;
    --login-button-active-color: #8112ff;
    --lunatic-color:#b73ae9;
    --header-hover-color: #53ffc6;
}